*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray; 
}

main{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 20px;
    color: azure;
    gap: 10px;
    border-radius: 10px;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
    text-align: center;
}

img{
    max-width: 100%;
    width: 300px;
    border-radius: 20px;
    padding: 5px;
}


